
body {
	margin: 0;
	padding: 20px;
}

.main_part {
	padding: 20px;
	background-color: #eee;
	border: 1px solid #999;
	overflow: auto;
}

/*left*/
/*@ 要求的left 总宽度为200px, 指的width+padding */
.left {
	padding: 20px;
	background-color: white;
	/*width: 200px;*/
	width: 160px;
	height: 100px;
	border: 1px solid #999;
	float: left;
}

.picture {
	float: left;
	border: 1px solid #999;
}

.team_name {
	font-weight: bold;
	text-align: center;
}

/*right*/
/* @ 宽度同left修改 */
.right {
	/* @ padding由于改了logo的padding, 此处padding则上下侧改为0*/
	padding: 0 20px;
	border: 1px solid #999;
	/*width: 120px;*/
	width: 80px;
	background-color: white;
	float: right;
}

.logo {
	border: 1px solid #999;
	display: block;
	/* @ 对每个logo指定上下的margin即可*/
	/*margin: 20px;*/
	margin: 20px 0;
}

/*middle*/
.middle {
	padding: 20px;
	border: 1px solid #999;
	background-color: white;
	margin-left: 260px;
	margin-right: 180px;
}